---
import PostCard from "../../components/PostCard.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
import dayjs from "dayjs";
import { parseDate } from "../../utils/utils";
const allPosts = await Astro.glob("../posts/*.mdx");
const postSorted = allPosts.toSorted((a, b) => {
  return parseDate(b.frontmatter.pubDate) - parseDate(a.frontmatter.pubDate);
});
---

<BlogLayout
  title="Blog sobre Desarrollo web"
  metaDescription="Blog sobre Desarrollo web"
>
  <Fragment slot="center-title">
    ¡Bienvenido a mi blog de desarrollo web!
  </Fragment>
  <Fragment slot="center">
    <div class="flex flex-col gap-y-8">
      <div class="blog-content">
        <p>
          Cuando programo o exploro algún framework o herramienta que no utilizo
          habitualmente, me enfrento a nuevos desafíos.
        </p>

        <p>
          Investigo, pruebo, aprendo y supero. Pero, pasado un tiempo, cuando
          quiero o necesito volver a hacerlo, me encuentro con las típicas
          preguntas: <span class="font-semibold italic"
            >"¿Cómo fue que lo hice?"</span
          >, <span class="font-semibold italic">
            "¿Cómo funcionaba esto?"</span
          >.
        </p>

        <p>
          Vamos, que si estás en el mundo de la programación, me entenderás.
        </p>

        <p>
          Por eso, he decidido documentar lo que aprendo y guardarlo aquí,
          disponible para todos.
        </p>

        <p>
          Quizás algún día esto pueda ayudar a alguien. <span
            class="font-semibold italic">Me gusta pensar que sí</span
          >.
        </p>
      </div>
      <div>
        <h2 class="text-3xl mb-2">Últimos Post</h2>
        <div class="post-list-container">
          <ul class="flex flex-col gap-y-6">
            {
              postSorted.map((post) => (
                <li>
                  <PostCard
                    url={post.url}
                    title={post.frontmatter.title}
                    date={post.frontmatter.pubDate}
                    lastModified=""
                  />
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </Fragment>
</BlogLayout>
