---
import PostCard from "../../components/PostCard.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
import dayjs from "dayjs";
import { parseDate } from "../../utils/utils";
const allPosts = await Astro.glob("../posts/*.mdx");
const postSorted = allPosts.toSorted((a, b) => {
  return parseDate(b.frontmatter.pubDate) - parseDate(a.frontmatter.pubDate);
});
---

<BlogLayout
  title="Blog sobre Desarrollo web"
  metaDescription="Blog sobre Desarrollo web"
>
  <Fragment slot="center-title">
    ¡Bienvenido a mi blog de desarrollo web!
  </Fragment>
  <Fragment slot="center">
    <div class="flex flex-col gap-y-8">
      <div>
        <p>
          Cuando programo, en ocasiones no recuerdo cómo hice algún desarrollo.
          Y cuando necesito volver a hacerlo, siempre me pregunto: "<i
            >¿Cómo fue que lo hice?</i
          >".
        </p>

        <p>
          Por eso, he decidido documentar lo que aprendo y guardarlo aquí,
          disponible para todos.
        </p>

        <p>
          Quizás algún día esto pueda ayudar a alguien. <span
            class="font-semibold italic">Me gusta pensar que sí</span
          >.
        </p>
      </div>
      <div>
        <h2 class="text-3xl">Últimos Post</h2>
        <div class="post-list-container">
          <ul class="flex flex-col gap-y-6">
            {
              postSorted.map((post) => (
                <li>
                  <PostCard
                    url={post.url}
                    title={post.frontmatter.title}
                    date={post.frontmatter.pubDate}
                    lastModified=""
                  />
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </Fragment>
</BlogLayout>
