---
import Layout from "../layouts/Layout.astro";
import Navbar from "../layouts/Navbar.astro";
import NavbarResponsive from "../layouts/NavbarResponsive.astro";
import Header from "../layouts/Header.astro";
import Experience from "../layouts/Experience.astro";
import Technologies from "../layouts/Technologies.astro";
import Education from "../layouts/Education.astro";
import About from "../layouts/About.astro";
import Contact from "../layouts/Contact.astro";
---

<Layout title="Gabriel Romero - Desarrollador Front-end">
  <NavbarResponsive />
  <main
    class="max-w-[1100px] px-3 md-px-0 mx-auto flex flex-col gap-y-3 md:gap-y-12 mt-5 mb-12"
  >
    <Navbar />
    <Header />
    <Experience />
    <Technologies />
    <Education />
    <About />
    <Contact />
  </main>
</Layout>

<style is:global></style>
