---
const { data } = Astro.props;
---

<div class="rounded-lg overflow-hidden border border-[#4c4c4c]">
  <h3 class="text-white text-xl font-semibold bg-lgray-300 p-2">
    {data.title}
  </h3>
  <div class="flex flex-col gap-3 flex-wrap p-4">
    <div class="flex gap-2 py-1">
      <svg
        width="25"
        height="25"
        viewBox="0 0 25 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_540_1213)">
          <path
            d="M3.125 21.875H21.875"
            stroke="#CDF282"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M9.375 8.33325H10.4167"
            stroke="#CDF282"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M9.375 12.5H10.4167"
            stroke="#CDF282"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M9.375 16.6667H10.4167"
            stroke="#CDF282"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M14.583 8.33325H15.6247"
            stroke="#CDF282"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M14.583 12.5H15.6247"
            stroke="#CDF282"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M14.583 16.6667H15.6247"
            stroke="#CDF282"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M5.20801 21.875V5.20833C5.20801 4.6558 5.4275 4.12589 5.8182 3.73519C6.2089 3.34449 6.73881 3.125 7.29134 3.125H17.708C18.2605 3.125 18.7904 3.34449 19.1811 3.73519C19.5718 4.12589 19.7913 4.6558 19.7913 5.20833V21.875"
            stroke="#CDF282"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g>
        <defs>
          <clipPath id="clip0_540_1213">
            <rect width="25" height="25" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
      <p class="text-white text-lg">{data.place}</p>
    </div>
    <div class="flex gap-2 py-1">
      <svg
        width="25"
        height="25"
        viewBox="0 0 25 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_540_1225)">
          <path
            d="M4.16699 7.29159C4.16699 6.73905 4.38649 6.20915 4.77719 5.81845C5.16789 5.42775 5.69779 5.20825 6.25033 5.20825H18.7503C19.3029 5.20825 19.8328 5.42775 20.2235 5.81845C20.6142 6.20915 20.8337 6.73905 20.8337 7.29159V19.7916C20.8337 20.3441 20.6142 20.874 20.2235 21.2647C19.8328 21.6554 19.3029 21.8749 18.7503 21.8749H6.25033C5.69779 21.8749 5.16789 21.6554 4.77719 21.2647C4.38649 20.874 4.16699 20.3441 4.16699 19.7916V7.29159Z"
            stroke="#CDF282"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M16.667 3.125V7.29167"
            stroke="#CDF282"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M8.33301 3.125V7.29167"
            stroke="#CDF282"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M4.16699 11.4583H20.8337"
            stroke="#CDF282"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M8.33301 15.625H10.4163V17.7083H8.33301V15.625Z"
            stroke="#CDF282"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g>
        <defs>
          <clipPath id="clip0_540_1225">
            <rect width="25" height="25" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
      <p class="text-white text-lg">{data.date}</p>
    </div>
  </div>
</div>
