---
import Image from "astro/components/Image.astro";
import Section from "../components/Section.astro";
import gabriel2 from "../images/gabriel_2.jpg";
import IconSVG from "../components/IconSVG.astro";
---

<Section name="Un poco más sobre mí" id="sobremi">
  <div
    class="flex flex-col items-center md:flex-row md:items-start gap-10 justify-between"
  >
    <div class="w-full md:w-2/3 flex flex-col gap-4">
      <p class="text-lg text-white">
        Soy de Argentina, pero desde 2020 vivo en Logroño, España.
      </p>
      <p class="text-lg text-white">
        Aunque soy más del front-end y me especializo en ReactJS, no huyo del
        back-end.
      </p>
      <p class="text-lg text-white">
        Y en mi tiempo libre, trabajo en proyectos personales con tecnologías como:
      </p>
      <ul class="list-disc ml-3">
        <li class="text-lg text-white list-disc">Node JS</li>
        <li class="text-lg text-white list-disc">Docker</li>
        <li class="text-lg text-white list-disc">Astro</li>
      </ul>
      <p class="text-lg text-white">
        Me gusta trabajar en equipo, porque siempre podemos aprender unos de
        otros y fomentar un ambiente colaborativo.
      </p>
      <p class="text-lg text-white">
        Pero...¡en mi vida no todo es programación! También me gusta
        cocinar y hacer deporte.
      </p>
    </div>
    <Image
      width="300"
      height="500"
      class="rounded"
      src={gabriel2}
      alt="Foto de Gabriel Romero, programamdor web"
    />
  </div>
</Section>
