---
import Image from "astro/components/Image.astro";
import Section from "../components/Section.astro";
import gabriel2 from "../images/gabriel_2.jpg";
---

<Section name="Un poco más sobre mí" id="aboutme">
  <div
    class="flex flex-col items-center md:flex-row md:items-start gap-10 justify-between"
  >
    <div class="w-full md:w-2/3 flex flex-col gap-4">
      <p class="text-lg text-white">
        En el 2020 comencé mi carrera en el mundo del desarrollo web. Desde
        entonces, me he orientado hacia el front-end, especializándome en <strong
          >React JS</strong
        >. También tengo experiencia con PHP, Node JS, SQL y Wordpress, que he
        obtenido en mi formación y dando soporte en anteriores trabajos.
      </p>
      <p class="text-lg text-white">
        Disfruto asistir a eventos donde puedo mantenerme al día, conectar con
        referentes del sector y aprender de ellos.
      </p>
      <p class="text-lg text-white">
        Me gusta trabajar en equipo, porque siempre podemos aprender unos de
        otros y fomentar un ambiente colaborativo.
      </p>
      <p class="text-lg text-white">
        Pero...¡en mi vida no todo es programación! También me gusta cocinar y
        hacer deporte.
      </p>
    </div>
    <Image
      width="300"
      height="500"
      class="rounded"
      src={gabriel2}
      alt="Foto de Gabriel Romero, programamdor web"
    />
  </div>
</Section>
