---
import Image from "astro/components/Image.astro";
// import gabriel from "../images/gabriel.jpg";
import gabriel from "../images/gabrielromero.png";
---

<style>
  .gr_img {
    position: relative;
    mask-image: linear-gradient(black 95%, transparent);
  }
  .img_container::before {
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #c0f25bc7;
    filter: blur(100px);
    position: absolute;
  }
</style>

<header
  class="flex flex-col md:flex-row w-full gap-5 justify-between items-center mt-10"
  id="index"
>
  <div class="p-2 md:p-6 rounded-lg w-full flex flex-col gap-3">
    <div>
      <h1 class="text-4xl md:text-5xl font-bold text-center kalam">
        Gabriel Romero<br />
        Desarrollador web<br />
        Front-end
      </h1>
    </div>
  </div>
  <div
    class="p-2 md:p-6 flex justify-center items-center relative img_container"
  >
    <Image
      src={gabriel}
      width={600}
      alt="Foto de Gabriel Romero, programador web, sonriendo"
      class="gr_img"
    />
  </div>
</header>
