---
import Footer from "./Footer.astro";
import Navbar from "./Navbar.astro";
import NavbarResponsive from "./NavbarResponsive.astro";
interface Frontmatter {
  title: string;
  author: string;
  date: string;
}

interface Props {
  frontmatter: Frontmatter;
  title: string;
  metaDescription: string;
  path: string;
}

const { title, metaDescription, frontmatter, path } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={metaDescription} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/gabrielromero_logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || frontmatter?.title}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <div class="flex-grow">
      <NavbarResponsive path={path} />
      <Navbar path={path} />
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat.ttf");
  }

  @font-face {
    font-family: "Lexend";
    src: url("/fonts/Lexend.ttf");
  }

  :root {
    --lime: #c0f25b;
    --blue: #ac86dd;
    --accent-gradient: linear-gradient(
      90deg,
      var(--lime) 0%,
      var(--blue) 35%,
      var(--blue) 100%
    );
  }

  html {
    background-color: rgb(23, 23, 28);
    /* font-family: "Lexend Deca", sans-serif; */
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;
  }

  h1,
  h2,
  h3 {
    font-family: Montserrat, sans-serif;
  }

  p,
  ul,
  li,
  a,
  span {
    font-family: Lexend, sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.4px;
  }

  .main-grid
    :is(p, h1, h2, h3):not(
      .post-list-container p,
      .post-list-container h1,
      .post-list-container h2,
      .post-list-container h3,

    ) {
    @apply mb-3;
  }

  pre {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    overflow: visible;
    margin-bottom: 20px;
  }

  .blog-content :is(p, h1, h2, h3) {
    margin: revert;
  }

  .post-content :is(ul, ol, li, p, h1, h2, h3) {
    list-style: revert;
    margin: revert;
    padding: revert;
  }

  .post-content h1 {
    font-size: 36px;
    @apply font-semibold;
  }

  .post-content h2 {
    font-size: 30px;
    @apply font-semibold;
  }

  .post-content h3 {
    font-size: 28px;
    @apply font-semibold;
  }

  .post-content span {
    font-size: 16px;
    word-break: break-all;
  }

  .post-content a {
    @apply text-blue-500 underline;
  }
</style>
