---
import Navbar from "./Navbar.astro";
import NavbarResponsive from "./NavbarResponsive.astro";
interface Frontmatter {
  title: string;
  author: string;
  date: string;
}

interface Props {
  frontmatter: Frontmatter;
  title: string;
  metaDescription: string;
}

const { title, metaDescription, frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={metaDescription} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="./gabrielromero_logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || frontmatter?.title}</title>
  </head>
  <body>
    <NavbarResponsive />
    <Navbar />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --lime: #c0f25b;
    --blue: #ac86dd;
    --accent-gradient: linear-gradient(
      90deg,
      var(--lime) 0%,
      var(--blue) 35%,
      var(--blue) 100%
    );
  }

  html {
    background-color: rgb(23, 23, 28);
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  p,
  h1,
  h2,
  h3,
  li {
    color: white;
  }

  p,
  h1,
  h2,
  h3 {
    @apply mb-3;
  }

  p {
    @apply text-lg;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-3xl;
  }

  pre {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    overflow: visible;
  }

  /* pre::after {
    top: 0;
    right: 0;
    position: absolute;
    content: "copy";
    background-color: white;
    color: black;
    padding: 2px 5px;
    border-radius: 80px;
  } */
</style>
