---
import IconSVG from "../components/IconSVG.astro";
import { navItems } from "../data/data";
---

<nav
  class="flex md:hidden justify-end sticky max-w-[1100px] px-3 bg-[#2b2b31] top-0 p-2 border-b border-[#4c4c4c] z-10"
>
  <button id="btnMenu" class="border border-[#4c4c4c] rounded">
    <IconSVG iconData={[{ name: "burger", size: "40px" }]} />
  </button>
  <div
    class="absolute max-h-0 bg-[#2b2b31] rounded transition-all flex flex-col overflow-hidden left-0 right-0"
    id="responsiveMenu"
  >
    <div class="flex justify-end px-3 w-full">
      <button class="cursor-pointer" id="closeMenu">
        <IconSVG iconData={[{ name: "close", size: "40px" }]} />
      </button>
    </div>
    {
      navItems.map((item) => {
        return (
          <a
            href={item.href}
            target={item.href.startsWith("#") ? "_self" : "_blank"}
            class="text-lg font-semibold py-3 px-5 text-lime flex items-center gap-2"
          >
            {item.text}
            {item.icon && (
              <div class="flex-shrink-0">
                <IconSVG iconData={[{ name: "pdf", size: "20" }]} />
              </div>
            )}
          </a>
        );
      })
    }
  </div>
</nav>
