---
import IconSVG from "../components/IconSVG.astro";
import { navItems } from "../data/data";
const { path } = Astro.props;
---

<nav class="hidden rounded bg-[#2b2b31] sticky top-0 md:block shadow-lg z-10">
  <div class="max-w-[1100px] mx-auto md:flex justify-end gap-5">
    {
      navItems.map((item) => {
        return (
          <a
            href={item.href}
            target={item.newTab ? "_blank" : "_self"}
            class={`text-lg font-semibold p-2 py-4 text-lime border-b border-transparent hover:border-lime ${(path === "home" && item.href == "/") || item.href.includes(path) ? "border-b border-lime" : ""} transition-all flex items-center`}
          >
            {item.text}
            {item.icon && (
              <div class="flex-shrink-0">
                <IconSVG iconData={[{ name: "pdf", size: "20" }]} />
              </div>
            )}
          </a>
        );
      })
    }
  </div>
</nav>

<script>
  function getCoords(element) {
    var rect = element.getBoundingClientRect();
    return {
      top: rect.top + window.scrollY - 80,
      left: rect.left + window.scrollX,
    };
  }
  const btnMenu = document.querySelector("#btnMenu");
  const closeMenu = document.querySelector("#closeMenu");
  const responsiveMenu = document.querySelector("#responsiveMenu");

  btnMenu.addEventListener("click", (event) => {
    responsiveMenu.classList.toggle("max-h-0");
    responsiveMenu.classList.toggle("max-h-96");
  });

  closeMenu.addEventListener("click", (event) => {
    responsiveMenu.classList.toggle("max-h-0");
    responsiveMenu.classList.toggle("max-h-96");
  });

  const linkButtons = document.querySelectorAll("nav a");
  linkButtons.forEach((link) => {
    link.addEventListener("click", (e) => {
      if (!e.target.href.includes("#")) return;

      e.preventDefault();
      const linkToGo = link.getAttribute("href");
      const elementToGo = document.querySelector(linkToGo);

      const coords =
        linkToGo === "#index" ? { top: 0, left: 0 } : getCoords(elementToGo);
      window.scrollTo(coords);

      setTimeout(() => {
        btnMenu.click();
      }, 100);
    });
  });
</script>
