---
import IconSVG from "../components/IconSVG.astro";
---

<!-- <nav class="rounded flex md:hidden justify-end sticky top-2">
  <button id="btnMenu" class="border border-[#4c4c4c] rounded bg-lgray-300">
    <IconSVG iconData={[{ name: "burger", size: "40px" }]} />
  </button>
  <div
    class="absolute max-h-0 mt-1 top-12 bg-[#2b2b31] border-[#4c4c4c] rounded transition-all flex flex-col left-0 right-0 overflow-hidden px-3"
    id="responsiveMenu"
  >
    <a href="#index" class="text-lg font-semibold p-2 py-3 text-lime-200"
      >Home</a
    >
    <a href="#experience" class="text-lg font-semibold p-2 py-3 text-lime-200"
      >Experiencia</a
    >
    <a href="#technologies" class="text-lg font-semibold p-2 py-3 text-lime-200"
      >Tecnologías</a
    >
    <a href="#education" class="text-lg font-semibold p-2 py-3 text-lime-200"
      >Formación</a
    >
    <a href="#sobremi" class="text-lg font-semibold p-2 py-3 text-lime-200"
      >Sobre mí</a
    >
    <a href="#contact" class="text-lg font-semibold p-2 py-3 text-lime-200"
      >¿Hablamos?</a
    >
  </div>
</nav> -->
<nav
  class="hidden rounded border bg-[#2b2b31] md:flex justify-around border-[#4c4c4c] sticky top-2 shadow-lg"
>
  <a
    href="#index"
    class="text-lg font-semibold p-2 py-3 text-lime-200 border-b border-transparent hover:border-lime-200 transition-all"
    >Home</a
  >
  <a
    href="#experience"
    class="text-lg font-semibold p-2 py-3 text-lime-200 border-b border-transparent hover:border-lime-200 transition-all"
    >Experiencia</a
  >
  <a
    href="#technologies"
    class="text-lg font-semibold p-2 py-3 text-lime-200 border-b border-transparent hover:border-lime-200 transition-all"
    >Tecnologías</a
  >
  <a
    href="#education"
    class="text-lg font-semibold p-2 py-3 text-lime-200 border-b border-transparent hover:border-lime-200 transition-all"
    >Formación</a
  >
  <a
    href="#sobremi"
    class="text-lg font-semibold p-2 py-3 text-lime-200 border-b border-transparent hover:border-lime-200 transition-all"
    >Sobre mí</a
  >
  <a
    href="#contact"
    class="text-lg font-semibold p-2 py-3 text-lime-200 border-b border-transparent hover:border-lime-200 transition-all"
    >¿Hablamos?</a
  >
</nav>

<script>
  function getCoords(element) {
    var rect = element.getBoundingClientRect();
    return {
      top: rect.top + window.scrollY - 80,
      left: rect.left + window.scrollX,
    };
  }
  const btnMenu = document.querySelector("#btnMenu");
  const closeMenu = document.querySelector("#closeMenu");
  const responsiveMenu = document.querySelector("#responsiveMenu");

  btnMenu.addEventListener("click", (event) => {
    responsiveMenu.classList.toggle("max-h-0");
    responsiveMenu.classList.toggle("max-h-96");
  });

  closeMenu.addEventListener("click", (event) => {
    responsiveMenu.classList.toggle("max-h-0");
    responsiveMenu.classList.toggle("max-h-96");
  });

  const linkButtons = document.querySelectorAll("nav a");
  linkButtons.forEach((link) => {
    link.addEventListener("click", (e) => {
      e.preventDefault();
      const linkToGo = link.getAttribute("href");
      const elementToGo = document.querySelector(linkToGo);

      const coords =
        linkToGo === "#index" ? { top: 0, left: 0 } : getCoords(elementToGo);
      window.scrollTo(coords);

      setTimeout(() => {
        btnMenu.click();
      }, 100);
    });
  });
</script>
